@{
    ViewBag.Title = "Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("NavigationBar")

<div id="main-content">

    <h2>Other Activities</h2>

    <section>
        <h4>Church Prayer Group – Tuesday 5:30pm </h4>
        <p>We believe in the power of prayer. God has to do his work before we can do ours. So each week we gather together to pray for our people, our church, our community and our world.</p>
        <h4>Rainbows – Wednesday 12:30pm</h4>
        <p>Specifically aimed at those who have lost a loved one, Rainbows is a monthly time to meet together to eat, talk, laugh and learn.</p>
        <h4>Aurora Prayer Group</h4>
        <p>Every third Monday of the month at 7pm we meet in our local schools to pray specifically for our students, teachers, Principals and community. All Welcome.</p>
        <h4>Sunday School</h4>
        <p>We run two weekly Sunday schools for those who are in Primary Schools. The main meeting is at Tweed Heads at 5pm and starts with our family service but has age specific activities and learning after the kid’s talk is delivered. The second meeting is on Wednesday nights at Terranora and is also attached to a worship service, in this case midweekchurch. Most our Sunday School leaders are trained teachers and each has yearly training on child education and child protection.</p>
        <h4>TCCEA</h4>
        <p>Our Church is a founding member of the Tweed Coast Christian Education Association which has placed part time SRE teachers in three of our local High Schools (Tweed River, Banora Point and Kingscliff High Schools) since its inception in 2007. Our senior minister has chaired this organisation since inception.</p>
        <h4>Primary Scripture in our Schools</h4>
        <p>Our Church is extremely committed to local Primary Scripture in schools with 8 of our teachers currently teaching in 8 local primary schools. We also have organised local training days and accreditation for all our local SRE teachers in the Tweed/Murwillumbah region</p>
        <h4>Tweed Chaplaincy</h4>
        <p>Our Church was on the forefront of approaching many of our local primary schools and securing funding for Chaplains within those schools. Our associate pastor is the Deputy Chairman of the Local Advisory Board for Chaplaincy in the Tweed/Banora Point area.</p>
        <h4>4CRB</h4>
        <p>Our senior minister has had a monthly Sunday morning spot on our local Christian radio station 4CRB for the last 6 years. He has also been involved in a number of one of programmes for special events in the Christian year like Christmas and Easter.</p>
        <h4>Missionaries</h4>
        <p>Tweed Presbyterian is involved in gospel mission by financially and prayerfully supporting three Presbyterian missionaries overseas. They are the Lilleys (in South Asia), the Evans (in Japan) and Nicole Linklater (in Chad). In 2013 Nicole spent a term with us as a missionary in residence where she ran a Chadian lunch, spoke on mission work and helped us set up an active missions committee.</p>
        <h4>Short Term Mission</h4>
        <p>For the last three years, our Church has sent people on short Term mission experiences in both Vanuatu and Kenya. We are greatly aware of the Great Commission and so we want to preach the gospel in Tweed, on the gold Coast and throughout the ends of the earth.</p>
        <h4>Other School Activities</h4>
        <p>We are extremely committed to our local schools and to this aim we also</p>
        <ul>
            <li>Run the annual Aurora Carols at Terranora Primary School</li>
            <li>Run many of the local Christmas Assemblies for our local primary schools</li>
            <li>Host Quiz Worx, a Christian puppet group in our local schools when they tour every 2 years</li>
            <li>Run a monthly prayer meeting (every third Monday of each month) which is held in Banora Point High School/Centaur Primary School and Terranora Primary School on a rotating basis</li>
            <li>Meet with the Principals of these three schools each term for prayer and planning</li>
            <li>In May 2014 we are hosting the Watoto Children’s Choir at Terranora Primary School</li>
        </ul>

    </section>

</div>
