@{
    ViewBag.Title = "Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("NavigationBar")

<div id="main-content">

    <h2>Activities</h2>

    <section>
        <ul>
            <li><span>Kingscliff Growth Group – Monday 2pm	</span></li>
            <li><span>Ladies Home Group – Monday 7pm (2nd and 4th Mon)</span></li>
            <li><span>Playgroup – Tuesday 9:30am</span></li>
            <li><span>Men’s Home Group – Tuesday 7pm  (2nd and 4th Mon)</span></li>
            <li><span>Church Prayer Group – Tuesday 7pm  (4th Tues)</span></li>
            <li><span>Youth Bible Study – Tuesday 7pm</span></li>
            <li><span>Ladies KYB – Wednesday 10am</span></li>
            <li><span>Mid kids – Wednesday 6pm	</span></li>
            <li><span>Ladies Bible Study  - Thursday @@ 9:30am (fortnightly)</span></li>
            <li><span>Growth Group @@ Tweed – Friday 10am</span></li>
            <li><span>Friday Fun Youth Social (Monthly)</span></li>
            <li><span>py (presbyterian youth – years 5 to 10) Sun 3:30pm</span></li>
            <li><span>Sunday School – Sun 5pm</span></li>
        </ul>

    </section>

</div>
