@{
    ViewBag.Title = "Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("NavigationBar")

<div id="main-content">

    <h2>Activities</h2>

    <section>
        <ul>
            <li><span>Kingscliff Growth Group – Monday 2pm	</span><span>Michael Boyd 07 5590 4530</span></li>
            <li><span>Ladies Home Group – Monday 7pm (2nd and 4th Mon)</span><span>Fran Drew 07 5536 9574</span></li>
            <li><span>Playgroup – Tuesday 9:30am</span><span>Danielle Stott 0419 360 445</span></li>
            <li><span>Men’s Home Group – Tuesday 7pm  (2nd and 4th Mon)</span><span>Ben Young 0417 699 702</span></li>
            <li><span>Church Prayer Group – Tuesday 7pm  (4th Tues)</span><span>Michael Boyd 07 5590 4530</span></li>
            <li><span>Youth Bible Study – Tuesday 7pm</span><span>Ellen Lee 0412 814 808</span></li>
            <li><span>Ladies KYB – Wednesday 10am</span><span>Jan McDonough 07 5590 7651</span></li>
            <li><span>Mid kids – Wednesday 6pm	</span><span>Rebecca Green 07 5590 4807</span></li>
            <li><span>Ladies Bible Study  - Thursday @@ 9:30am (fortnightly)</span><span>Jennie Hewitt 0427 226 045</span></li>
            <li><span>Growth Group @@ Tweed – Friday 10am</span><span>Michael Boyd 07 5590 4530</span></li>
            <li><span>Friday Fun Youth Social (Monthly)</span><span>Stephen Taylor 07 5524 9596</span></li>
            <li><span>py (presbyterian youth – years 5 to 10) Sun 3:30pm</span><span>Ben Young 0417 699 702</span></li>
            <li><span>Sunday School – Sun 5pm</span><span>Estelle Hammond 07 5536 6748</span></li>
        </ul>

    </section>

</div>
