@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("NavigationBar")
@Scripts.Render("~/bundles/jquery")
<div id="main-content">

<h2>Contact</h2>

    <section>
        <div class="minister">
            <span class="personalTitle">Senior Minister – Rev Stephen Taylor</span>
            <div class="phone">07 5524 9596</div>
            <div><a class="email" href="mailto:sktaylor1997@gmail.com?subject=Web Site Contact">sktaylor1997@gmail.com</a></div>
            <div class="twoColumnOne">
                <img class="ministerImage" src="~/Images/StephenTaylorFamily.png" />
            </div>
            <div class="twoColumnTwo">
                <span class="description">Stephen is married to Kaylene and together they have three great children, Sam, Jemma and Joshua. He has been the minister of the Tweed Heads for 19 years and loves preaching from God’s word, encouraging people to share their faith as well as playing and watching most sports.</span>
            </div>
        </div>
        <div class="minister">
            <span class="personalTitle">Pastor – Michael Boyd</span>
            <div class="phone">07 5590 4530</div>
            <div><a class="email" href="mailto:mikeboyd@iinet.net.au?subject=Web Site Contact">mikeboyd@iinet.net.au</a></div>
            <div class="twoColumnOne">
                <img class="ministerImage" src="~/Images/MichaelBioPic.png" />
            </div>
            <div class="twoColumnTwo">
                <span class="description">Michael is married to Katherine and they have three children: Tara, Owen and Erin.  Michael became a Christian in 1981 through High School Scripture. He pastored a Congregational church in Sydney before joining the team here at Tweed.  He enjoys being outside, discovering new music, time with his family and Hapkido.</span>
            </div>
        </div>
        <div class="minister">
            <br />
            <div>Or for any technical problems on this site:</div><br />
            <span class="personalTitle">Please contact the site administrator</span>
            <span><a class="email" href="mailto:thpchurch@gmail.com?subject=Web Site Contact">thpchurch@gmail.com</a></span>

        </div>
    </section>

</div>
