@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("NavigationBar")

<div id="main-content">

<h2>Contact</h2>

    <section>
        <div class="minister">
            <span class="personalTitle">Senior Minister – Rev Stephen Taylor</span>
            <div class="phone">07 5524 9596</div>
            <div><a class="email" href="mailto:sktaylor1997@gmail.com?subject=Web Site Contact">sktaylor1997@gmail.com</a></div>
            <div class="twoColumnOne">
                <img class="ministerImage" src="~/Images/StephenTaylorFamily.png" />
            </div>
            <div class="twoColumnTwo">
                <span class="description">Stephen is married to Kaylene and together they have three great children, Sam, Jemma and Joshua. He has been the minister of the Tweed Heads for 19 years and loves preaching from God’s word, encouraging people to share their faith as well as playing and watching most sports.</span>
            </div>
        </div>
        <div class="minister">
            <span class="personalTitle">Pastor – Michael Boyd</span>
            <div class="phone">07 5590 4530</div>
            <div><a class="email" href="mailto:mikeboyd@iinet.net.au?subject=Web Site Contact">mikeboyd@iinet.net.au</a></div>
            <div class="twoColumnOne">
                <img class="ministerImage" src="~/Images/MichaelBoyFamily.png" />
            </div>
            <div class="twoColumnTwo">
                <span class="description">Michael is going to provide some bio information and a photo.</span>
            </div>
        </div>
    </section>

</div>
