@model thp.Models.LoginModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
@Html.Partial("NavigationBar")

<div id="main-content">
    <h2>Welcome</h2>

    <section>
        <a class="service" href="/Home/Services">
            <img src="~/Images/WebUnderConstruction.png" />
        </a>

    </section>

</div>

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/todo")
}