@model thp.Models.LoginModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}
@Html.Partial("NavigationBar")

<div id="main-content">
    <h2>Welcome</h2>

    <section>
        <div class="service">
            <span class="serviceTitle">midweekchurch </span>
            <span class="serviceTime">Wed 6 – 7:15pm </span>
            <div class="serviceLocation">Terranora Primary School Hall, Terranora Rd </div>
        </div>
        <div class="service">
            <span class="serviceTitle">Kingscliff </span>
            <span class="serviceTime">Sun 8:30am </span>
            <div class="serviceLocation">Chinderah SDA Centre, Philip St </div>
        </div>
        <div class="service">
            <span class="serviceTitle">Tweed Morning Service </span>
            <span class="serviceTime">Sun 10am </span>
            <div class="serviceLocation">Cnr Wharf & Florence Sts, Tweed Heads </div>
        </div>
        <div class="service">
            <span class="serviceTitle">Sunday @@ 5</span>
            <span class="serviceTime">Sun 5pm </span>
            <div class="serviceLocation">Cnr Wharf & Florence Sts, Tweed Heads </div>
        </div>
    </section>

</div>

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/todo")
}