@model thp.Models.LoginModel
@{
    ViewBag.Title = "Tweed Heads Presbyterian Church";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
@Html.Partial("NavigationBar")

<div id="main-content">

    <section>
        <a class="mainLink bigInner" href="/Home/Jesus">Why you need Jesus</a>
    </section>
    <section>
        <a class="serviceShort twoColumnOne  bigInner" href="/Home/midweekchurch">
            <span class="serviceTitle">midweekchurch </span>
        </a>
        <a class="serviceShort twoColumnOne bigInner" href="/Home/Kingscliff">
            <span class="serviceTitle">Kingscliff </span>
        </a>
        <a class="serviceShort twoColumnTwo bigInner" href="/Home/TweedMorning">
            <span class="serviceTitle">Tweed Morning Service </span>
        </a>
        <a class="serviceShort twoColumnTwo bigInner" href="/Home/TweedAt5">
            <span class="serviceTitle">Sunday @@ 5</span>
        </a>
    </section>

</div>

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/todo")
}