@{
    ViewBag.Title = "Jesus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("NavigationBar")
@Scripts.Render("~/bundles/jquery")
<div id="main-content">

    <h2>Jesus</h2>

    <section>
        <div>
            Because life has meaning with God.
        </div>
    </section>

</div>
