@{
    ViewBag.Title = "Kingscliff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("NavigationBar")
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
    function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var latlng = new google.maps.LatLng(-28.236009, 153.559522);
        var map_options = {
            center: latlng,
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.HYBRID
        }
        var map = new google.maps.Map(map_canvas, map_options)

        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: "Chinderah Seventh Day Adventist"
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="main-content">

    <h2>Kingscliff</h2>

    <section>
        <article>
            <p>Looking for a loving Christian community where you will be nurtured in your faith in Jesus? Then why not give us a try! </p>
            <p>Established in the late 1800’s Kingscliff Presbyterian has been ministered to the communities of Kingscliff, Cudgen and Chinderah for almost 120 years!</p>
            <p>During this time we have built a reputation being a committed and loving congregation. We really care for our people and that is evident the moment you come along to a service. </p>
            <p>We run a traditional service made up of classic hymns from the past with a mixture of good contemporary tunes; we like our preaching to be biblical but relevant to our everyday lives and we are a prayerful, supportive environment where you can learn more about God and grow in your Christian faith.</p>
            <p>We are also part of a larger group of Christians that makes up every age range. This means we don’t try and meet everyone’s needs at our Kingscliff service; instead we are aim here to minister to people who have had a Church background but are still looking for a loving and supportive Church home.</p>
            <p>So if, for whatever reason you have wandered away from the  Church in the past, why not give us a try? You might find that we are just what you are looking for!</p>
            @Html.ActionLink("View Brochure", "ViewPdf", new { controller = "Home", filename = "Kingscliff Brochure 2013" })
        </article>
        <div id="map_canvas"></div>
    </section>

</div>
