@{
    ViewBag.Title = "Links";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("NavigationBar")

<div id="main-content">

    <h2>Links</h2>

    <section>
        <ul>
            <li><a href="http://www.midweekchurch.com/">Mid Week Church</a></li>
            <li><a href="http://www.presbyterian.org.au/">Presbyterian Church of Australia</a></li>
            <li><a href="http://www.matthiasmedia.com.au/2wtl/">Two Ways to Live</a></li>
        </ul>

    </section>

</div>
