@{
    ViewBag.Title = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("NavigationBar")

<div id="main-content">
    <h2>Location</h2>

    <section>
        <article>
            test content
        </article>
    </section>

</div>
