@{
    ViewBag.Title = "MidWeekChurch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("NavigationBar")
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
    function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var latlng = new google.maps.LatLng(-28.240447, 153.499764);
        var map_options = {
            center: latlng,
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.HYBRID
        }
        var map = new google.maps.Map(map_canvas, map_options)

        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: "Tweed Heads Presbyterian Church"
        });
    }

    $(function () {
        var moreDiv = $("#moreDiv");
        var mapDiv = $("#mapDiv");
        var brochureDiv = $("#brochureDiv");
        var showMore = $("#showMore");
        var showMap = $("#showMap");
        var showBrochure = $("#showBrochure");
        var initializedMap = false;
        moreDiv.hide();
        mapDiv.hide();

        showMap.click(function () {
            if (!initializedMap && !mapDiv.is(":visible")) {
                initialize();
                initializedMap = true;
            }
            mapDiv.toggle(200);
            moreDiv.hide();
            brochureDiv.hide();
        });

        showMore.click(function () {
            moreDiv.toggle(200);
            mapDiv.hide();
            brochureDiv.hide();
        });

        showBrochure.click(function () {
            mapDiv.hide();
            moreDiv.hide();
            brochureDiv.show();
            brochureDiv.html(
                $('<iframe/>', {
                    src: this.href,
                    width: '900px',
                    height: '600px'
                })
            );
            return false;
        });

        showMap.click();
    });

</script>
<div id="main-content">

    <h2>midweekchurch</h2>

    <section>
        <article>
            <p>Worship that is Biblical, contemporary and family oriented – especially for those who haven’t been to Church for a while. This service includes a free meal each Wednesday @@ 5:30pm and has a full range of youth and kids programmes. That’s midweekchurch!</p>
            <button id="showMap" class = "button">Map</button>
            <button id="showMore" class = "button">More Information</button>
            @Html.ActionLink("Brochure", "ViewPdf", new { controller = "Home", filename = "midweek Brochure 2013" }, new { @id = "showBrochure", @class = "button"})
            <div id="moreDiv">
                <p>Started in 2006 this church plant was aimed specifically for busy people who have school aged children. We realised that for most people Sundays was their one day with their family and so going along to Church on that day curtailed other worthwhile activities. So thinking outside the square we created midweekchurch. We started with around 20 adults and 8 kids and now we normally have around 35 adults and 30 kids, so it must be working! </p>
                <p>midweekchurch in on a Wednesday not a Sunday leaving that day for families. It starts at 5:30pm for a meal together supplied on a roster system by those who come on a regular basis. This is a great time to get to know people and has helped to build a sense of community. We then begin our family friendly church service which for the first part is aimed at our children – for they need to know that church is as much for them as for the adults. The children and youth then leave for bible teaching aimed specifically for them while the adults grab a cuppa and something yummy to eat and pray, listen to a sermon together and then have a question and answer time. The kids arrive back sometime after 7pm so that you can get home ready for school tomorrow. Perfect! </p>
                <p>As well as having a Church service this group of Christians are also responsible for a weekly playgroup on a Tuesday morning, teaching Scripture in our local high schools and primary schools, organising a yearly Church Camp and a big mission outreach. We also are involved in the local schools by running a monthly prayer time for staff and students as well as actively being involved in ministries within these schools. Every year we host the Terranora/Centaur primary schools annual carols events, we run their yearly Christmas Scripture service and have invited Quiz Worx a Christian puppet group to run school wide assemblies. As well as that our ministers chair the work of the local SRE Board, have been responsible for training of our local Scripture teachers, run community wide youth sports evenings, have been at the forefront in getting new chaplains into our area and organised the local minister’s fraternal. </p>
                <p>So you might have soccer training on Tuesday and Scouts on Friday so why not add midweekchurch on Wednesday? Come along and check us out, you will be glad you made the effort. It’s on every Wednesday 6:00 – 7:15pm @@ Terranora Primary School Hall, Terranora Rd, Terranora. Just park at the carpark on Terranora road and walk down the path to the school hall. </p>
            </div>
            <div id="mapDiv">
                <br />
                <p>We meet at Terranora Primary School Hall, Terranora Rd, Terranora.</p>
                <p>Just park at the carpark on Terranora road and walk down the path to the school hall</p>
                <div id="map_canvas"></div>
            </div>
            <div id="brochureDiv">   
            </div>
            
        </article>

        
    </section>

</div>
