@{
    ViewBag.Title = "MidWeekChurch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("NavigationBar")

<div id="main-content">

<h2> midweekchurch</h2>

    <section>
        <article>
            worship that is Biblical, contemporary and family oriented – especially for those who haven’t been to Church for a while. This service includes a free meal each Wednesday @ 5:30pm and has a full range of youth and kids programmes.
	Every Wednesday 6:00 – 7:15pm 
@@ Terranora Primary School Hall, 
Terranora Rd, Terranora.
Just park at the carpark on Terranora road and walk down the path to the school hall. 
        </article>
        <article>
Started in 2006 this church plant was aimed specifically for busy people who have school aged children. We realised that for most people Sundays was their one day with their family and so going along to Church on that day curtailed other worth while activities. So thinking outside the square we created midweekchurch. We started with around 20 adults and 8 kids and now we normally have around 35 adults and 30 kids, so it must be working!

midweekchurch in on a Wednesday not a Sunday leaving that day for families. It starts at 5:30pm for a meal together supplied on a roster system by those who come on a regular basis. This is a great time to get to know people and has helped to build a sense of community. We then begin our family friendly church service which for the first part is aimed at our children – for they need to know that church is as much for them as for the adults. The children and youth then leave for bible teaching aimed specifically for them while the adults grab a cuppa and something yummy to eat and pray, listen to a sermon together and then have a question and answer time. The kids arrive back sometime after 7pm so that you can get home ready for school tomorrow. Perfect!

As well as having a Church service this group of Christians are also responsible for a weekly playgroup on a Tuesday morning, teaching Scripture in our local high schools and primary schools, organising a yearly Church Camp and a big mission outreach. We also are involved in the local schools by running a monthly prayer time for staff and students as well as actively being involved in ministries within these schools. Our ministers chair the work of the local SRE Board, have been at the forefront in getting new chaplains into our area and organising the local minister’s fraternal. 

So you might have soccer training on Tuesday and Scouts on Friday so why not add midweekchurch on Wednesday. Come along and check us out, you will be glad you made the effort. 

        </article>
    </section>

</div>