<div id="main-navigationbar">
    <ul>
        <li>
            <p>@Html.ActionLink("Services", "Services", "Home")</p>
        </li>
        <li>
            <p>@Html.ActionLink("Index", "Index", "Home")</p>
        </li>
        <li>
            <p>@Html.ActionLink("Location", "Location", "Home")</p>
        </li>
        <li>
            <p>@Html.ActionLink("Calendar", "Calendar", "Home")</p>
        </li>
    </ul>
</div>
<br />