@{
    ViewBag.Title = "NewsLetters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("NavigationBar")
<div id="main-content">
    <section>
        <article>
            <div>
                <iframe width="90%" height="500" src="https://googledrive.com/host/0Bx88ln8wLKE1cFdBT1FnWGJMRUU"></iframe>
            </div>
        </article>

        Or check us out on <a href="https://www.facebook.com/tweedpresbyterian"> Facebook <img src="~/Images/Facebook.png" /></a>
    </section>
</div>
