@{
    ViewBag.Title = "Sermons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">

<h2>Sermons</h2>

    <section>
        <article>
At the heart of what we do in the Tweed heads Presbyterian Church is to teach and preach God’s word. We believe the Bible is immensely relevant to our everyday lives and so our sermons always seek to be Biblical, interesting and relevant to life. 

We normally preach through books of the bible and so you might enjoy working through a number of sermons to better understand its message for today’s world. Sometimes we preach topical sermons and on this website there are a number of these. In fact you will find around 600 sermons copied below!

So have a read and please give contact us with your feedback and questions.
 </article>
    </section>

</div>
