@{
    ViewBag.Title = "SmallGroups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("NavigationBar")
<div id="main-content">

    <h2>SmallGroups</h2>

    <section>
        <article>
            <p>Across our four congregations we offer a range of small home groups including those for youth, young adults, men and women. Each small group meets around God’s word so that god can teach us how to live a life that is better pleasing to him. But we do more than just that! We also pray for one another, support one another in the Christian life, share our lives with each other and have a lot of fun and yummy food! </p>
            <p>We currently run the following groups…</p>
            <table>
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td>2:00pm</td>
                        <td>Kingscliff Growth Group</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>6:30pm</td>
                        <td>YAC (Young Adults) (1st and 3rd Mon)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>7:00pm</td>
                        <td>Ladies Home Group (2nd and 4th Mon)</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>7:00pm</td>
                        <td>Men’s Home Group (2nd and 4th Mon)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>7:00pm</td>
                        <td>Youth Bible Study @@ Banora (2nd and 4th Tues)</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>10:00am</td>
                        <td>KYB at Tweed Hall</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>9:30am</td>
                        <td>Ladies Bible Study @@ Tumbulgum (fortnightly)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>10:00am</td>
                        <td>Growth Group @@ Tweed</td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td>3:30pm</td>
                        <td>py (presbyterian youth – years 5 to 10) @@ Tweed</td>
                    </tr>
                </tbody>

            </table>

            <p>If you wish to know more details and where these groups meet please contact one of the Pastors.</p>


        </article>
    </section>

</div>
