@{
    ViewBag.Title = "SmallGroups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">

<h2>SmallGroups</h2>

    <section>
        <article>

        </article>
    </section>

</div>
