@{
    ViewBag.Title = "SmallGroups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("NavigationBar")
<div id="main-content">

<h2>SmallGroups</h2>

    <section>
        <article>
            More information will be available at a later date.
        </article>
    </section>

</div>
