@{
    ViewBag.Title = "TweedAt5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("NavigationBar")
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
    function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var latlng = new google.maps.LatLng(-28.175835, 153.54149);
        var map_options = {
            center: latlng,
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.HYBRID
        }
        var map = new google.maps.Map(map_canvas, map_options)

        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: "Tweed Heads Presbyterian Church"
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="main-content">

    <h2>Tweed @@ 5</h2>

    <section>
        <article>
            <p>Living on the Tweed we are blessed with beautiful weather and great outdoor activities. But this also means that Sundays get pretty busy for the average family with Church, Nippers, Sport and family times all wanting the same few hours each week. Sunday @@ 5 solves that problem by moving our main Family service from the Sunday morning timeslot to late Sunday afternoon. Since we have done this our service has grown about 250% so it seems to be working. On most Sundays we would have around 40 adults and 20 kids. </p>
            <p>It starts at 3:30 for our youth group kids (Years 5-10) who meet at the Church hall for an activity followed by some food. This term they are having a massive Pac Man night, girls vs boys netball, lame games, aboriginal artwork etc so they will really enjoy themselves. </p>
            <p>We then all join together for a contemporary worship with lively music, biblical message and caring fellowship. Once a month we have a youth service followed by our famous Spud Sundays. You don’t know what that is? Well you will have come along and find out – it’s always on the last Sunday of the month. </p>
            <p>As well as having a Church service this service is also responsible for a weekly playgroup on a Tuesday morning, teaching Scripture in our local high schools and primary schools, running a university ministry at Southern Cross University, organising a yearly Church Camp and a big mission outreach. We also are involved in the local schools by running a monthly prayer time for staff and students as well as actively being involved in ministries within these schools. As well as that our ministers chair the work of the local SRE Board, have been responsible for training of our local Scripture teachers, run community wide youth sports evenings, have been at the forefront in getting new chaplains into our area and have organised the local minister’s fraternal. </p>
            <p>So if you are wanting a Church that caters for both you and your family, then why not try Sunday @@ 5?</p>
            @Html.ActionLink("View Brochure", "ViewPdf", new { controller = "Home", filename = "Brochure PM 2013" })
        </article>
        <div id="map_canvas"></div>
    </section>

</div>
