@{
    ViewBag.Title = "TweedMorning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("NavigationBar")

<div id="main-content">

<h2>Tweed Morning Service</h2>

    <section>
        <article>
The Tweed Heads Presbyterian Church  recently held its 100th anniversary so we have been a part of this community for a very  long time. Throughout that time we have attempted to teach a practical Christianity that relies on God’s word and reaches out to God’s world. 

Our service on a Sunday morning is probably best described as traditional and friendly. We mainly sing older type hymns but do intersperse that with some modern songs as well. We place at the centre of what we do the preaching and teaching of God’s word and we do so by encouraging one another to practise what we preach. We seek to support and love one another in the same way that God has loved us through Christ. After approximately an hour’s worship, we move next door for a cuppa tea and something yummy to eat.

This service has for most of the church’s history been the backbone of the ministry of the parish. We run a number of home groups each week where we are able to learn about God’s ways in an informal setting. We visit our local hospitals regularly and run services in our local nursing homes. Each month we run Rainbows, a support group for those who have lost significant family or friends in the past. Throughout the year we take an active part in supporting our missionaries, we meet regularly for prayer, we support the work of SRE (Special Religious Education) in our local primary and High schools and we have an annual church Camp and Mission. 

We are trying to make this the best service for the people of the Tweed and we feel it currently reaches a significant portion of our people. Why not come along and see if this is the service that fits where you currently are?

        </article>
    </section>

</div>