@{
    ViewBag.Title = "Youth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">

<h2>PY</h2><span>presbyterian youth</span>

    <section>
        <article>
For year Years 5 to 10, every Sunday afternoon
Starts 3:30pm
Ends 6:00pm
py our major youth group. Each week we combine fun, worship and study together in a programme especially tailored for our young people. Every last Sunday we also run a youth service where our young people participate in the worship, singing, music and sermon
Contact: Ben Young 0417 699 702


py stands for Presbyterian youth and is our weekly youth group for Years 5 to 10 students. Having two primary school aged groups (from Sunday @ 5 and midweekchurch) feeding into this group we hope to run for our young people something that helps them grow up in Christ and have great fun as they do so. The main programme is on a Sunday afternoon and involves an activity from 3:30 to 4:45pm followed by a yummy afternoon tea. Then the youth join the rest of the Church family for the first part of Church before having their own age specific Bible Study. Once a month we have Friday Fun where the young people from Sunday night and Wednesday night invite their friends to a social evening. When a teenager reaches year 10 they then stay in church and they are invited to go to ybs (the youth Bible Study) – a group that we run on a Tuesday night.

We are seeking to develop three rites of passages with our young people.
•	Firstly they join py when they reach year 5
•	Secondly when they are in year 9 or 10 we give them the chance to make profession of their faith and become members of the Church
•	In Year 11 and up we hope they will join us on a short term mission trip in Vanuatu where we practically help the local Church with a building project as well are involved in some ministry project. 

Our ministry to young people extends beyond what we do within the bounds of the church. We have actively initiated a local SRE Board where we employ part time SRE teachers in three of our local high schools. We have successfully advocated for chaplaincy in our local primary schools. We also lead a local prayer network for a number of our local primary and high schools. Each year we run special events in our local schools hosting a Sydney mission team and the puppet group Quizworx. 

For more information please contact Ben Young on 0417 699 702
</article>
    </section>

</div>
