@{
    ViewBag.Title = "Youth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("NavigationBar")
<div id="main-content">

    <h2>PY</h2>
    <section>
        <article>
            <span>Presbyterian Youth</span>

            <p>
                Each week we combine fun, worship and study together in a programme especially tailored for our young people. Every last Sunday we also run a youth service where our young people participate in the worship, singing, music and sermon
            </p>
            <p>
                py stands for Presbyterian youth and is our weekly youth group for Years 5 to 10 students. 
            </p>
            <p>
                We are seeking to develop three rites of passages with our young people.
            </p>
            <li>Firstly they join py when they reach year 5</li>
            <li>Secondly when they are in year 9 or 10 we give them the chance to make profession of their faith and become members of the Church</li>
            <li>In Year 11 and up we hope they will join us on a short term mission trip in Vanuatu where we practically help the local Church with a building project as well are involved in some ministry project</li>


            <p>
                Our ministry to young people extends beyond what we do within the bounds of the church. We have actively initiated a local SRE Board where we employ part time SRE teachers in three of our local high schools. We have successfully advocated for chaplaincy in our local primary schools. We also lead a local prayer network for a number of our local primary and high schools. Each year we run special events in our local schools hosting a Sydney mission team and the puppet group Quizworx. 
            </p>
        </article>
    </section>

    <h2>YAC</h2>
    <section>
        <article>
            <span>Young Aussie Christians.</span>
            <p>For those who are in Year 10 to 25 years old, we meet fortnightly on Monday nights from 6:45 – 8:30pm at the Tweed Hall just for you! Each time we meet we will open God’s word and apply to our lives but we will do that in the context of meal together, prayer and caring fellowship. On the weeks we don’t meet, the girls of YAC meet for a small group on Tuesday nights and we are hoping that the boys of YAC will do something similar in 2014.</p>
            <p>Our YAC group wants to develop our young people in all aspects of their Christian walk. To this end we run the following activities…</p>
            <table class="highlightTable">
                <tbody>
                    <tr>
                        <th>Teaching</th>
                        <th>Caring</th>
                        <th>Training</th>
                        <th>Reaching</th>
                    </tr>
                    <tr>
                        <td>Biblical Preaching</td>
                        <td>Socials</td>
                        <td>Youth Leadership</td>
                        <td>High School SRE</td>
                    </tr>
                    <tr>
                        <td>Youth Bible Study</td>
                        <td>Prayer</td>
                        <td>North Coast Christian</td>
                        <td>Southern Cross Uni</td>
                    </tr>
                    <tr>
                        <td>YAC Camps</td>
                        <td>Sports Night</td>
                        <td>Convention</td>
                        <td>Vanuatu	</td>
                    </tr>
                </tbody>
            </table>
            <p>If you are interested in learning more about YAC please contact one of the pastors.</p>
        </article>
    </section>
</div>
